langchain
python-dotenv
langchain-community
pypdf
bs4
wikipedia
arxiv
pymupdf
chromadb
sentence-transformers
langchain-huggingface
duckdb
pandas
langchain-groq
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators
youtube_transcript_api
streamlit
prometheus-client
textstat
unstructured
